body {
  margin:0;
  font-family:Arial;
  background:#111;
  color:white;
}

.container{
  padding:20px;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.header input{
  padding:10px;
  width:250px;
}

.grid{

  margin-top:30px;

  display:grid;

  grid-template-columns:repeat(auto-fill,200px);

  gap:20px;

}

.card{

  cursor:pointer;

  background:#222;

  padding:10px;

  border-radius:8px;

  transition:0.2s;

}

.card:hover{

  transform:scale(1.05);

}

.card img{

  width:100%;
  border-radius:6px;

}

.modal{

  position:fixed;

  top:0;

  left:0;

  width:100%;

  height:100%;

  background:rgba(0,0,0,0.9);

  display:flex;

  justify-content:center;

  align-items:center;

}

.player{

  width:800px;

  background:#000;

  padding:20px;

}

.player video{

  width:100%;

}

button{

  margin-top:10px;

  padding:10px 20px;

}