name : ci pipelne

on:
  push:
    branches: ['main']
  pull request:
    branches:['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps: 
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install -r app/requirements.txt

    - name: Docker Build
      run: |
        docker build -t devops-ci-cd .
